@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TestWrapper {
  background: #0a080ef0;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TestForm {
  width: 100%;
  margin-bottom: 1rem;
}

.test-input {
  outline: none;
  background: none;
  border: 1px solid #4f9bff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.test-input::placeholder {
  color: #ffffff4d;
}

.test-btn {
  background: #0a080e;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
}

.test-btn:active {
  background-color:#4f9bff;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.Test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4f9bff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
 
